@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Helvetica Neue, Arial, sans-serif;
    line-height: 1.5;
  }
}

.hide-scrollbars {
  scrollbar-width: none;
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;
}

.features-hero {
  background-image: url(/image-features-hero.svg);
  background-repeat: no-repeat;
}
